/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('../common/assets/fonts/pretendard/Pretendard-Bold.woff2'),
    url('../common/assets/fonts/pretendard/Pretendard-Bold.woff'),
    url('../common/assets/fonts/pretendard/Pretendard-Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../common/assets/fonts/pretendard/Pretendard-Medium.woff2'),
    url('../common/assets/fonts/pretendard/Pretendard-Medium.woff'),
    url('../common/assets/fonts/pretendard/Pretendard-Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../common/assets/fonts/pretendard/Pretendard-Regular.woff2'),
    url('../common/assets/fonts/pretendard/Pretendard-Regular.woff'),
    url('../common/assets/fonts/pretendard/Pretendard-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Elice */
@font-face {
  font-family: 'Elice Digital Baeum';
  src: url('../common/assets/fonts/elice/EliceDigitalBaeum-Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elice Digital Baeum';
  src: url('../common/assets/fonts/elice/EliceDigitalBaeum-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
