@import 'font.css';
@import 'responsive.css';
@import 'tailwind.css';

html {
  @apply text-text-title-900;
  font-family: Pretendard, sans-serif;
  height: 100%;
  overscroll-behavior-y: contain;
}

body {
  margin: 0;
  background-color: #f5f7fb;
  height: 100%;
}

img[alt] {
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.shadow-dock {
  -webkit-filter: drop-shadow(0 -4px 16px rgba(34, 34, 34, 0.12));
  filter: drop-shadow(0 -4px 16px rgba(34, 34, 34, 0.12));
}

@keyframes slide-icon {
  from {
    left: 0;
  }
}

@keyframes slide-bar {
  from {
    width: 0;
  }
}

@supports (-webkit-backdrop-filter: none) {
  .header-blur {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

@supports not (-webkit-backdrop-filter: none) {
  .header-blur {
    backdrop-filter: blur(8px);
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
