@import 'font.css';
@import 'responsive.css';
@import 'tailwind.css';

img[alt] {
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

body {
  margin: 0;
  background-color: #f5f7fb;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
