@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",*/
  /*  "Droid Sans", "Helvetica Neue", sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fb;
}

* {
  font-family: 'Pretendard-Regular', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 641px) {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
}

@media screen and (max-width: 396px) {
  html {
    font-size: 55%; /* 1rem = 10px */
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 45%; /* 1rem = 10px */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
